<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c{1} - %msg%n</Property>
        <Property name="LOG_DIR">temp/logs</Property>
    </Properties>
    <Appenders>
        <File name="info"
              fileName="${LOG_DIR}/info.log"
              immediateFlush="true" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Filters>
                <!-- First deny warn, error and fatal messages -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- Then accept info, warn, error, fatal and deny debug/trace -->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="error"
              fileName="${LOG_DIR}/error.log"
              immediateFlush="true" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="debug"
              fileName="${LOG_DIR}/debug.log"
              immediateFlush="true" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Filters>
                <!-- First deny warn, error and fatal messages -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>

                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

    </Appenders>


    <Loggers>
        <Root level="trace">
            <AppenderRef ref="error" level="error"/>
            <AppenderRef ref="debug" level="debug"/>
            <AppenderRef ref="info" level="info"/>
        </Root>
    </Loggers>
</Configuration>